body { background-color: black; }

* {
	color: white;
}

.container {
	max-width: 85%;
	margin: 0 auto;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #333333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.red-button {
	cursor: pointer;
	margin: 70px auto;
	display: block;
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
	outline: none;
	height: 210px;
	width: 221px;
	background: url('/static/images/button.jpg') no-repeat;
	border: none;
	-moz-background-position-x: 0;
	-o-background-position-x: 0;
	background-position-x: 0;
}

.red-button:active {
	-moz-background-position-y: -241px;
	-o-background-position-y: -241px;
	background-position-y: -241px;
}

.password-label {
	display: block;
	text-align: center;
	margin: 50px auto;
	font-size: 2em;
}

.error {
	display: block;
	margin: 10px auto;
	text-align: center;
	font-size: 2em;
}

.password-text-box {
	display: block;
	margin: 10px auto;
	font-size: 2em;
	text-align: center;
	color: black;
}