<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<clear/>
			<add name="AspxFile" path="*.aspx" verb="GET,HEAD,POST" type="System.Web.UI.PageHandlerFactory" requireAccess="Script"/>
			<add name="StaticFile" path="*.*" verb="GET,HEAD,POST" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
			<add name="StaticDirectory" path="*" verb="GET,HEAD,POST" type="System.Web.HttpNotFoundHandler" resourceType="Directory"/>
		</handlers>
		<modules>
			<add name="UrlMappings" type="System.Web.UrlMappingsModule" preCondition="managedHandler"/>
		</modules>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="false">
					<add verb="GET" allowed="true"/>
					<add verb="HEAD" allowed="true"/>
					<add verb="POST" allowed="true"/>
				</verbs>
				<fileExtensions allowUnlisted="false">
					<clear/>
					<add fileExtension=".dll" allowed="false"/>
					<add fileExtension=".pdb" allowed="false"/>
					<add fileExtension=".config" allowed="false"/>
					<add fileExtension=".ascx" allowed="false"/>
					<add fileExtension=".master" allowed="false"/>
					<add fileExtension="." allowed="true"/>
					<add fileExtension=".aspx" allowed="true"/>
					<add fileExtension=".css" allowed="true"/>
					<add fileExtension=".js" allowed="true"/>
					<add fileExtension=".png" allowed="true"/>
					<add fileExtension=".jpg" allowed="true"/>
					<add fileExtension=".ico" allowed="true"/>
					<add fileExtension=".woff" allowed="true"/>
				</fileExtensions>
				<hiddenSegments>
					<clear/>
					<add segment="bin"/>
					<add segment="web.config"/>
					<add segment="logs"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
		<httpErrors errorMode="Custom" defaultResponseMode="File" existingResponse="Auto">
			<clear/>
			<error statusCode="400" path="errors\error.html"/>
			<error statusCode="401" path="errors\error.html"/>
			<error statusCode="403" path="errors\error.html"/>
			<error statusCode="404" responseMode="Redirect" path="/"/>
			<error statusCode="500" path="errors\error.html"/>
			<error statusCode="503" path="errors\error.html"/>
		</httpErrors>
		<staticContent>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
		</staticContent>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<location path="static">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="672:00:00"/>
			</staticContent>
		</system.webServer>
	</location>
	<system.web>
		<customErrors mode="On"/>
		<sessionState mode="Off"/>
		<trace enabled="false" pageOutput="false"/>
		<compilation debug="false" targetFramework="4.5.2"/>
		<pages viewStateEncryptionMode="Never" enableViewState="false" enableViewStateMac="false" validateRequest="false"/>
		<httpRuntime targetFramework="4.5" requestValidationMode="2.0" requestPathInvalidCharacters="" enableVersionHeader="false" enableHeaderChecking="true" executionTimeout="5" maxRequestLength="4" requestLengthDiskThreshold="128"/>
		<identity impersonate="false"/>
		<urlMappings enabled="true">
			<add url="~/" mappedUrl="~/Default.aspx"/>
		</urlMappings>
	</system.web>
</configuration>
